Repository datalab-org/datalab, pull requests merged in 2024-11, with the labels that each got.

#977 Stagger fortnightly scheduled uv/yarn updates
  .github/workflows/dependable-bot.yml
  .github/workflows/yarn-upgrade-bot.yml
Labels: build, CI

#981 Fix and streamline attribute lookup in MediaBlock
  webapp/cypress.config.ts
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/fixtures/example.json
  webapp/cypress/support/commands.js
  webapp/src/components/datablocks/MediaBlock.vue
Labels: bug, webapp

#990 Chatblock deployment fix: make sure LLM API keys are passed from .env to environ
  pydatalab/src/pydatalab/apps/chat/blocks.py
  pydatalab/src/pydatalab/main.py
Labels: bug

#986 Add latest Claude models
  pydatalab/src/pydatalab/apps/chat/blocks.py
Labels: enhancement, datablock

#996 Explicitly don't use a polyfill for `vm`
  webapp/vue.config.js
Labels: build, dependency_updates, javascript

#999 Revert overly smart schedule for upgrade PRs
  .github/workflows/dependable-bot.yml
  .github/workflows/yarn-upgrade-bot.yml
Labels: dependency_updates, CI

#941 Add API endpoint for reporting schemas
  pydatalab/src/pydatalab/routes/v0_1/info.py
  pydatalab/tests/server/test_info_and_health.py
  webapp/src/server_fetch_utils.js
Labels: enhancement, API, schema, Python

#974 Enhanced filtering UI on fields with components
  webapp/src/components/CollectionTable.vue
  webapp/src/components/Creators.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/SampleTable.vue
  webapp/src/primevue-theme-preset.js
Labels: visuals, usability

#984 LoginDetails alignment when a user is unverified
  webapp/cypress/component/NavbarTest.cy.jsx
  webapp/src/components/Navbar.vue
Labels: webapp, priority/low

#1006 Tweak git version spoofing in docker config, and test it
  .github/workflows/ci.yml
  docker-compose.yml
Labels: build, priority/low

#1011 Dynamic table tweaks: filter by item type enum & resizable columns
  webapp/src/components/DynamicDataTable.vue
  webapp/src/primevue-theme-preset.js
Labels: webapp, usability

#884 Add component tests for DataTable Prime components
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/cypress/e2e/startingMaterial.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/DynamicDataTableButtons.vue
  webapp/src/components/StartingMaterialInformation.vue
Labels: testing, webapp

#1013 Improve DataTable Pagination Handling with Vuex
  webapp/cypress/component/CollectionTableTest.cy.jsx
  webapp/cypress/component/EquipmentTableTest.cy.jsx
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/cypress/component/StartingMaterialTableTest.cy.jsx
  webapp/src/components/DynamicDataTable.vue
  webapp/src/store/index.js
Labels: enhancement, webapp

#1019 Add option to configure whether IDs are automatic by default
  .docker/app_dockerfile
  .docker/app_entrypoint.sh
  docker-compose.yml
  webapp/src/components/BatchCreateItemModal.vue
  webapp/src/components/CreateItemModal.vue
  webapp/src/resources.js
Labels: enhancement, webapp

#1018 Use `<router-link>` for "Home" button on edit page to preserve store
  webapp/src/views/EditPage.vue
Labels: enhancement, webapp
