Repository datalab-org/datalab, pull requests merged in 2024-04, with the labels that each got.

#690 Significant refactor of deployment docs
  INSTALL.md
  pydatalab/docs/.pages
  pydatalab/docs/config.md
  pydatalab/docs/deployment.md
  pydatalab/docs/schemas/equipment.md
Labels: documentation, deployment

#693 Enable ORCID connection by default
  .gitignore
  pydatalab/pydatalab/errors.py
  pydatalab/pydatalab/login.py
  pydatalab/pydatalab/routes/v0_1/auth.py
  webapp/src/components/EditAccountSettingsModal.vue
  webapp/src/components/LoginDetails.vue
Labels: API

#699 Upgrade cypress and other testing deps to allow Firefox testing
  .github/workflows/ci.yml
  webapp/package.json
  webapp/yarn.lock
Labels: testing, build, dependency_updates

#674 Add admin dashboard with user management controls
  pydatalab/pydatalab/routes/v0_1/__init__.py
  pydatalab/pydatalab/routes/v0_1/admin.py
  pydatalab/tests/server/test_users.py
  webapp/src/components/AdminDisplay.vue
  webapp/src/components/AdminNavbar.vue
  webapp/src/components/LoginDetails.vue
  webapp/src/components/Navbar.vue
  webapp/src/components/UserTable.vue
  webapp/src/main.js
  webapp/src/router/index.js
  webapp/src/server_fetch_utils.js
  webapp/src/views/Admin.vue
Labels: enhancement, API, webapp

#700 Added a way to refresh API Key from Account Settings UI
  webapp/src/components/EditAccountSettingsModal.vue
  webapp/src/main.js
  webapp/src/server_fetch_utils.js
Labels: enhancement, webapp

#707 Recreate user index with new settings if already existing
  pydatalab/pydatalab/mongo.py
Labels: server

#528 Add UI for email registration/login
  webapp/src/components/GetEmailModal.vue
  webapp/src/components/LoginDetails.vue
  webapp/src/server_fetch_utils.js
Labels: webapp
