Repository datalab-org/datalab, pull requests merged in 2025-02, with the labels that each got.

#1049 Improve loading state for data-intensive blocks
  webapp/cypress/e2e/editPage.cy.js
  webapp/src/components/datablocks/DataBlockBase.vue
Labels: enhancement, webapp, datablock

#1052 Add support for reading excel-like spreadsheets in tabular data block
  pydatalab/example_data/csv/simple.xlsx
  pydatalab/src/pydatalab/blocks/common.py
  pydatalab/src/pydatalab/bokeh_plots.py
  pydatalab/tests/apps/test_tabular.py
  webapp/src/components/datablocks/BokehBlock.vue
Labels: enhancement, datablock

#907 Add Login Splash Screen
  webapp/src/router/index.js
  webapp/src/views/Login.vue
  webapp/src/views/Login2.vue
  webapp/src/views/Login3.vue
Labels: webapp, blocked, design-discussion
