Repository datalab-org/datalab, pull requests merged in 2025-04, with the labels that each got.

#1094 Allow case-insensitive file extensions through file select dropdown
  webapp/src/components/FileSelectDropdown.vue
  webapp/src/components/datablocks/MediaBlock.vue
Labels: webapp, usability

#1099 Make media block resizable
  webapp/src/components/datablocks/MediaBlock.vue
Labels: webapp, visuals, usability, datablock

#1098 Add regex-based alternative to full-text search
  pydatalab/src/pydatalab/routes/v0_1/items.py
  pydatalab/tests/server/test_samples.py
Labels: API, usability

#606 Reset unsaved warning after `getSampleData()` receives data
  webapp/src/views/EditPage.vue
Labels: bug, webapp

#1048 Fix Datatable sorting for Collections and Creators
  webapp/src/components/SampleTable.vue
Labels: bug, webapp

#1109 Adjust block and file counter style
  webapp/src/components/BaseIconCounter.vue
Labels: webapp, visuals

#1112 Use `importlib` for plugin loading, fix test import order
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/blocks/__init__.py
  pydatalab/tests/apps/test_plugins.py
  pydatalab/uv.lock
Labels: bug, build

#1131 Fix oversharing regex search
  pydatalab/src/pydatalab/routes/v0_1/items.py
Labels: bug, priority/high

#1129 Add PDF support in MediaBlock using an iframe
  pydatalab/src/pydatalab/blocks/common.py
  webapp/src/components/datablocks/MediaBlock.vue
Labels: enhancement, datablock

#1134 CI build optimisations
  .docker/app_dockerfile
  .github/workflows/ci.yml
Labels: build, CI

#1137 Extend XRD block to be more flexible to different separators in xy files
  pydatalab/example_data/XRD/example_ocx.xy
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/tests/apps/test_xrd_block.py
Labels: enhancement, datablock

#1143 Revert JS dependency updates
  webapp/yarn.lock
Labels: javascript, dependencies

#1146 Add searching, filtering and sorting test in Datatable
  webapp/cypress/component/SampleTableTest.cy.jsx
  webapp/src/components/SampleTable.vue
Labels: testing

#1149 Add guard for block info loading to edit page
  webapp/src/views/EditPage.vue
Labels: webapp, javascript

#1157 Give starting material location its own row in the UI
  webapp/src/components/StartingMaterialInformation.vue
Labels: webapp, visuals, usability

#1101 Added synthesis information to starting materials and made component collapsible
  pydatalab/schemas/sample.json
  pydatalab/schemas/startingmaterial.json
  pydatalab/src/pydatalab/models/samples.py
  pydatalab/src/pydatalab/models/starting_materials.py
  pydatalab/src/pydatalab/models/traits.py
  pydatalab/tests/server/conftest.py
  pydatalab/tests/server/test_graph.py
  webapp/cypress/e2e/batchSampleFeature.cy.js
  webapp/cypress/e2e/editPage.cy.js
  webapp/cypress/e2e/sampleTablePage.cy.js
  webapp/cypress/support/commands.js
  webapp/src/components/StartingMaterialInformation.vue
  webapp/src/components/SynthesisInformation.vue
  webapp/src/components/itemCreateModalAddons/StartingMaterialCreateModalAddon.vue
  webapp/src/resources.js
Labels: webapp, schema
