Repository datalab-org/datalab, pull requests merged in 2025-05, with the labels that each got.

#1133 UV-vis block
  pydatalab/example_data/UV-Vis/1908047U1_0000.Raw8.TXT
  pydatalab/example_data/UV-Vis/1908047U1_0001.Raw8.txt
  pydatalab/example_data/UV-Vis/1908047U1_0060.Raw8.txt
  pydatalab/src/pydatalab/apps/uvvis/__init__.py
  pydatalab/src/pydatalab/blocks/__init__.py
  pydatalab/src/pydatalab/bokeh_plots.py
  pydatalab/tests/apps/test_uvvis.py
  webapp/src/components/FileMultiSelectDropdown.vue
  webapp/src/components/datablocks/UVVisBlock.vue
  webapp/src/resources.js
Labels: enhancement, datablock

#1183 Allow runtime compose args to be set from environment variables
  docker-compose.yml
Labels: build, deployment

#1055 Do not update 'files' reference when saving item
  pydatalab/src/pydatalab/routes/v0_1/items.py
Labels: bug

#1187 Use PyPI release of navani 0.1.11 and bump in situ plugin
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Labels: dependency_updates, Python

#1189 Fix DataTable select-all when sorting is applied
  webapp/src/components/DynamicDataTable.vue
Labels: bug, webapp

#1193 Give collection title and creators list their own rows
  webapp/src/components/CollectionInformation.vue
Labels: webapp, usability

#1195 Set DataTable loading state when loading from store
  webapp/src/components/CollectionTable.vue
  webapp/src/components/DynamicDataTable.vue
  webapp/src/components/EquipmentTable.vue
  webapp/src/components/SampleTable.vue
  webapp/src/components/StartingMaterialTable.vue
  webapp/src/primevue-theme-preset.js
  webapp/src/server_fetch_utils.js
  webapp/src/store/index.js
Labels: webapp, visuals, usability

#1209 Use `tool.uv.sources` to specify in situ plugin git dependency in pyproject
  pydatalab/README.md
  pydatalab/pyproject.toml
  pydatalab/uv.lock
Labels: build

#1210 Fix docker release workflow
  .github/workflows/release.yml
Labels: build

#1205 Add support for JCAMP-DX files in NMR block
  pydatalab/example_data/NMR/13c.jdx
  pydatalab/example_data/NMR/1h.dx
  pydatalab/example_data/NMR/README
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/nmr/blocks.py
  pydatalab/src/pydatalab/apps/nmr/utils.py
  pydatalab/tests/apps/test_nmr.py
  webapp/src/components/datablocks/NMRBlock.vue
Labels: enhancement, datablock

#1128 Add CIF->PXRD calculator and refactor XRD block to better show multiple patterns
  pydatalab/example_data/XRD/cod_9004112.cif
  pydatalab/pyproject.toml
  pydatalab/src/pydatalab/apps/xrd/blocks.py
  pydatalab/src/pydatalab/apps/xrd/models.py
  pydatalab/src/pydatalab/apps/xrd/utils.py
  pydatalab/src/pydatalab/file_utils.py
  pydatalab/tests/apps/test_xrd_block.py
  pydatalab/uv.lock
  webapp/src/components/FileSelectDropdown.vue
  webapp/src/components/datablocks/XRDBlock.vue
  webapp/src/store/index.js
Labels: enhancement, datablock
